<h2 mat-dialog-title>Log in</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="surname" placeholder="Surname" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>
    <p>*all fields are required</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="login">Log in</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>