.menuCard {
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* .menuTitle {
    display: flex;
    align-self: flex-start;
}

.primary {
    display:flex;
    align-self: flex-end;
} */