<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="surname" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="message"></textarea>
    </mat-form-field>
    <div class="button">

    <button type="submit" class="btn btn-success" mat-raised-button color="primary">Send</button>
</div>
</form>